<html>
  <body>
    Information about the pilots of the flights
    <br></br>
     <a href="/flights/list">return to flights info</a>
    <table>
      <thead>
        <tr>
          <th>Flight Detail ID</th>
          <th>Flight ID</th>
          <th>Pilot ID</th>
        </tr>
      </thead>
      <tbody>
        {% for flightDetail in flight_details %}
        <tr>
          <td>{{ flightDetail.flight_detail_id }}</td>
          <td>{{ flightDetail.flight_id }}</td>
          <td>{{ flightDetail.pilot_id }}</td>
          <td>
            <a href="/flightDetails/delete/{{ flightDetail.flight_detail_id }}">delete</a>
          </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>