<html>
  <body>
    <a href="/menu/menu">return to menu</a>
    <table>
      <thead>
        <tr>
          <th>Aircraft ID</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Passenger Capacity</th>
          <th>Cruising Range Miles</th>

        </tr>
      </thead>
      <tbody>
        {% for aircraft in top_aircraft %}
        <tr>
          <td>{{ aircraft.aircraft_id }}</td>
          <td>{{ aircraft.manufacturer }}</td>
          <td>{{ aircraft.model }}</td>
          <td>{{ aircraft.passenger_capacity }}</td>
          <td>{{ aircraft.cruising_range_miles}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>